<mat-toolbar color="primary">
    <mat-toolbar-row class="center-xs logo">
        <img src="assets/logo.png">
    </mat-toolbar-row>
    <mat-toolbar-row class="center-xs">
        <a mat-raised-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-raised-button class="ml-xs" color="primary" routerLink="/personaje" routerLinkActive="active">Personajes</a>
        <a mat-raised-button class="ml-xs" color="accent" routerLink="/clase" routerLinkActive="active">Clase</a>
        <a mat-raised-button class="ml-xs" color="link" routerLink="/debut" routerLinkActive="active">Debut</a>
        <a mat-raised-button class="ml-xs" color="warn" routerLink="/login" routerLinkActive="active">Login</a>
    </mat-toolbar-row>
</mat-toolbar>