<mat-toolbar color="primary">
    <mat-toolbar-row class="center-xs logo">
        <img src="assets/logo.png">
    </mat-toolbar-row>
    <mat-toolbar-row class="center-xs">
        <a mat-raised-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-raised-button class="ml-xs" color="primary" routerLink="/personaje" routerLinkActive="active">Characters</a>
        <a mat-raised-button class="ml-xs" color="accent" routerLink="/clase" routerLinkActive="active">Classes</a>
        <a mat-raised-button class="ml-xs" color="link" routerLink="/debut" routerLinkActive="active">Debuts</a>
        <a mat-raised-button class="ml-xs" color="warn" routerLink="/curiosity" routerLinkActive="active">Curiosity</a>
    </mat-toolbar-row>
</mat-toolbar>