<div class="row center-xs middle-xs ml-0 mr-0">
    <div class="box">
        <h1 class="col-xs-12">Bienvenid@ guerrer@</h1>
        <h3 class="col-xs-12">Conoce el mundo del cosmos y sus misterios</h3>
        <h5 class="col-xs-12">Descubre:</h5>
        <div class="col-xs-12">
            <a mat-raised-button color="primary" routerLink="/personaje" routerLinkActive="active">Personajes</a>
            <a mat-raised-button class="ml-xs" color="accent" routerLink="/clase" routerLinkActive="active">Clase</a>
            <a mat-raised-button class="ml-xs" color="link" routerLink="/debut" routerLinkActive="active">Debut</a>
        </div>
    </div>
</div>