<div class="container">
    <div class="spinner">
        <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
    </div>
    <div *ngIf="!loading">
        <div class="row ml-0 mr-0 center-xs">
            <mat-card class="filtro">
                <div>Buscar por:</div>
                <div>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput (keyup)="filterByName($event)">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Tipo</mat-label>
                        <mat-select (selectionChange)="getClassByName($event)">
                            <mat-option *ngFor="let cls of claseName" value="{{cls.name}}">{{cls.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card>
        </div>
        <div class="row ml-0 mr-0">
            <app-clase-card class="col-xs-12 col-sm-6 col-md-4" *ngFor="let clase of claseList | paginate: { id: 'claseGrid', 
          itemsPerPage: pageSize, 
          currentPage: page, 
          totalItems: totalItems }" [clase]="clase">
            </app-clase-card>
        </div>
        <div class="text-center" *ngIf="claseList.length > 1">
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel='Anterior' nextLabel='Siguiente' id='claseGrid' class="paginador"></pagination-controls>
        </div>
    </div>
</div>